@font-face {
	font-family: "New_f"; 
	src: url('../font/kursi.ttf'); 
}

*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

button,textarea{font-family: "New_f";}

input::-ms-clear{display: block;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0; border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h2,h3,h4,h5,h6{font-family: "New_f";font-weight: 400;}

input{
    background: transparent;
    border: none;
    border-bottom: 2px solid #2c2c2c;
    border-radius: 5px;
}

.One{
    background-image: url('../img/tetr.jpg');
    margin: 10px;
    /* display: block; */
}

h1{
    text-align: left;
    padding: 8px 0px 20px 22px;
}

.Answer {
	display: inline-block;	
	box-sizing: border-box;
	padding: 0 20px;
	margin: 0 15px 15px 0;
	outline: none;
	border: none;  
	border-radius: 4px;
	height: 32px;
	line-height: 32px;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
	color: #fff;
	background-color: #3775dd;
	box-shadow: 0 2px #21487f;
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
	vertical-align: top;
}
.Answer:hover {
	background-color: #002fed;
}
.Answer:active {
	background-color: #2f599e !important;
}
.Answer:focus-visible {
	box-shadow: 0 0 0 3px lightskyblue;
}
.Answer:disabled {
	background-color: #6c87b5;
	pointer-events: none;
}
label,img,button{
    display: block;
}
